// These are the styles to make some of the templates look extra nice.
$font-stack: 'Gotham-Book',Gotham,'San Francisco Display','Helvetica Neue',Montserrat,Helvetica,Arial,'Roboto',sans-serif;
$lyft-hot-pink: #ff00BF;
$lyft-magenta: #C600BB;
$lyft-mulberry: #352384;
$lyft-purple: #4901B8;
$lyft-charcoal: #333347;
$lyft-slate: #474C62;
$lyft-dove: #728099;
$lyft-stone: #BFC7D9;
$lyft-moon: #D8DCE6;
$lyft-bone: #f3f3f5;
$lyft-grey: #373449;

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  th {
    padding-left: 0;
    padding-right: 0;
  }
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .container {
  background: transparent;
}

// Text
.white { color: #ffffff;}
.magenta {color: $lyft-magenta}
.mulberry {color: $lyft-mulberry}
.subheader {font-size: 20px; line-height: 28px; font-family: $font-stack}

// Background Color
.mulberry-background {background-color: $lyft-mulberry; -premailer-bgcolor: $lyft-mulberry}
.grey-background {background-color: $lyft-grey; -premailer-bgcolor: $lyft-grey}
// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

@import url(https://lyft-assets.s3.amazonaws.com/email/ClobberRegular.otf);
    @font-face {
    font-family: 'Clobber';
    src: url("https://lyft-assets.s3.amazonaws.com/email/ClobberRegular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
    font-family: 'Gotham-Book';
    src: url("http://take.lyft.com.s3.amazonaws.com/ride/fonts/Gotham-Book.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
    }
    @font-face {
    font-family: 'Gotham-Bold';
    src: url("http://take.lyft.com.s3.amazonaws.com/ride/fonts/Gotham-Bold.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
    }
    @font-face {
    font-family: 'Gotham-Medium';
    src: url("http://take.lyft.com.s3.amazonaws.com/ride/fonts/Gotham-Medium.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
    }
    @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
    @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
    }
    @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff');
    }
    body {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 100% !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
    }
    img {
    border: 0 !important;
    outline: none !important;
    }
    table {
    border-collapse: collapse;
    mso-table-lspace: 0px !important;
    mso-table-rspace: 0px !important;
    }s
    td {
    border-collapse: collapse;
    mso-line-height-rule: exactly;
    }
    a, span {
    mso-line-height-rule: exactly;
    }
    .ExternalClass * {
    line-height: 100%;
    }
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass a, .ExternalClass div {
    line-height: 100%;
    }
    .f_num a {
    color: #808080;
    text-decoration: none;
    }
    .image {
      line-height: 100%;
      mso-line-height-rule:exactly;
    }
    td[class=hide-all] {
    display: none !important;
    }
    table[class=hide-all] {
    display: none !important;
    }
    span[class=hide-all] {
    display: none !important;
    }
    @media only screen and (max-width:480px) {
    td[class=headline1] {
    font-size: 50px!important;
    }
    td[class=backfill_headline] {
    font-size: 40px!important;
    line-height: 60px!important;
    }
    td[class=headline2] {
    font-size: 40px!important;
    }
    td[class=headline3] {
    font-size: 30px!important;
    }
    td[class=gap] {
    height:8px!important;
    }
    table[class=wrapper] {
    width: 100% !important;
    }
    table[class=wrapper_background] {
    width: 100% !important;
    background-size:200% !important;
    }
    img[class=wrapper] {
    width: 100% !important;
    }
    table[class=main_table] {
    width: 100% !important;
    }
    table[class=social] {
    border-width:0px 0px 0px 5px!important;
    }
    img[class=social_img] {
    width:170px !important;
    height:170px !important;
    }
    table[class=spacer] {
    margin-left:38px!important;
    }
    table[class=button-width] {
    width:120px !important;
    }
    a[class=button-width] {
    width:120px !important;
    }
    table[class=features] {
    text-align:center!important;
    }
    table[class=side] {
    padding: 0 0 0 25px !important;
    }
    td[class=side] {
    width: 20px !important;
    }
    td[class=aside] {
    padding: 0px 10px !important;
    }
    td[class=hide] {
    display: none !important;
    }
    table[class=hide] {
    display: none !important;
    }
    span[class=hide] {
    display: none !important;
    }
    td[class=hide-all] {
    display: none !important;
    }
    table[class=hide-all] {
    display: none !important;
    }
    span[class=hide-all] {
    display: none !important;
    }
    table[class=mobile-center] {
    align: center!important;
    }
    td[class=block] {
    padding-bottom: 15px !important;
    }
    br[class=break] {
    display: none !important;
    }
    td[class=fix_height] {
    height: 30px !important;
    }
    td[class=title] {
    font-size: 34px !important;
    line-height: 38px !important;
    }
    td[class=text] {
    }
    td[class=header-text] {
    font-size: 1.4em !important;
    line-height: 1.4em !important;
    font-weight:bold !important;
    }
    td[class=mobile-table-text] {
    font-size: 12px !important;
    line-height: 12px !important;
    font-weight:bold !important;
    }
    td[class=disclaimer] {
    font-size: 0.9em !important;
    }
    img[class=full_img] {
    width: 100% !important;
    height: auto !important;
    }
    img[class=padded_img] {
    width:90%!important;
    padding: 0 20px 20px 20px;
    height:auto!important;
    }
    img[class=hide_img_mobile] {
    max-height:none!important;
    width:auto!important;
    }
    td[class=copyright] {
    font-size: 12px !important;
    text-align: center !important;
    }
    td[class=body_copy] {
    font-size:20px!important;
    line-height:30px!important;
    }
    img[class=mustache] {
    margin: 0 auto !important;
    }
    td[class=spacer-fix] {
    height: 20px !important;
    line-height:20px !important;
    }
    td[class=spacer-shrink] {
    height: 10px !important;
    line-height:10px !important;
    }
    td[class=center-text] {
    text-align:center !important;
    }
    td[class=pad_bottom1] {
    padding-bottom: 20px !important;
    }
    .center-text {
    display:block;
    text-align:center !important;
    }
    .marg_bottom {
    margin-bottom:20px !important;
    width:100% !important;
    }
    .left-fix {
    margin-left:0px !important;
    width:100% !important;
    }
    }
    @media only screen and (min-width:480px) and (max-width:550px) {
    table[class=wrapper] {
    width: 100% !important;
    }
    table[class=wrapper_background] {
    width: 100% !important;
    background-size:200% !important;
    }
    td[class=headline1] {
    font-size: 20px!important;
    line-height:26px!important;
    }
    td[class=backfill_headline] {
    font-size: 40px!important;
    line-height: 60px!important;
    }
    td[class=subhead1] {
    font-size:16px!important;
    line-height:18px!important;
    }
    table[class=main_table] {
    width: 100% !important;
    }
    td[class=side] {
    width: 20px !important;
    }
    table[class=features] {
    align:center!important;
    }
    td[class=aside] {
    padding: 0px 10px !important;
    }
    td[class=hide] {
    display: none !important;
    }
    table[class=hide] {
    display: none !important;
    }
    span[class=hide] {
    display: none !important;
    }
    td[class=block] {
    padding-bottom: 20px !important;
    }
    br[class=break] {
    display: none !important;
    }
    td[class=fix_height] {
    height: 20px !important;
    }
    td[class=balloon] {
    width: 50px !important;
    height: auto !important;
    }
    img[class=full_img] {
    width: 100% !important;
    height: auto !important;
    }
    td[class=copyright] {
    font-size: 12px !important;
    text-align: center !important;
    }
    img[class=mustache] {
    margin: 0 auto !important;
    }
    td[class=pad_bottom1] {
    padding-bottom: 20px !important;
    }
    .marg_bottom {
    margin-bottom:20px !important;
    width:100% !important;}
    .left-fix {
    margin-left:0px !important;
    width:100% !important;
    }
    td[class=center-text] {
    text-align:center !important;
    display:block;
    }
    .center-text {
    display:block;
    text-align:center !important;
    }
    img[class=padded_img] {
    width:75%!important;
    padding: 0 20px 20px 20px;
    height:auto!important;
    }
    img[class=hide_img_mobile] {
    max-height:0!important;
    width:0!important;
    }
    img[class=show_img_mobile] {
    max-height:none!important;
    width:75%!important;
    height:auto!important;
    padding: 0 20px 20px 20px;
    }
    td[class=box_text] {
    padding-top:10px!important;
    }
    .text_color_box {
    position:static!important;
    right:0px!important;
    }
    }
    @media only screen and (max-width:480px) {
    table[class=footerWrapper] {
    width: 160px !important;
    }
    td[class=headline1] {
    font-size: 20px!important;
    line-height: 26px!important;
    }
    td[class=subhead1] {
    font-size:16px!important;
    line-height:18px!important;
    }
    table[class=spacer] {
    margin-left:38px!important;
    }
    img[class=footerIcon] {
    height: 17px !important;
    width: 16px !important;
    }
    table[class=footerFixHeight] {
    width: 7px !important;
    }
    td[class=footerFixHeight] {
    height: 7px !important;
    }
    td[class=pad_bottom1] {
    padding-bottom: 20px !important;
    }
    img[class=padded_img] {
    width:75%!important;
    padding: 0 20px 20px 20px;
    height:auto!important;
    }
    img[class=hide_img_mobile] {
    max-height:0!important;
    width:0!important;
    }
    img[class=show_img_mobile] {
    max-height:none!important;
    width:75%!important;
    height:auto!important;
    padding: 0 20px 20px 20px;
    }
    td[class=box_text] {
    padding-top:10px!important;
    }
    .marg_bottom {
    margin-bottom:20px !important;
    width:100% !important;}
    .left-fix {
    margin-left:0px !important;
    width:100% !important;
    }
    td[class=center-text] {
    text-align:center !important;
    display:block;
    }
    .text_color_box {
    position:static!important;
    right:0px!important;
    }
    .center-text {
    display:block;
    text-align:center !important;
    }
    .mobile-block {
    display:block;
    }
    .gmailfix {
    display:none;
    display:none!important;
    }
    }